<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="resident">
            <h2><span>Resident</span> {{ resident.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ resident.phone }}</span>
                </dd>
                <dt><span>Room</span></dt>
                <dd>
                    <div *ngIf="resident.roomId">
                        <a [routerLink]="['/room', resident.roomId, 'view']">{{ resident.roomId }}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{ resident.userLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/resident', resident.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
