<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="facility">
            <h2><span>Facility</span> {{ facility.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ facility.name }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{ facility.createdBy }}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{ facility.createdDate }}</span>
                </dd>
                <dt><span>Last Modified By</span></dt>
                <dd>
                    <span>{{ facility.lastModifiedBy }}</span>
                </dd>
                <dt><span>Last Modified Date</span></dt>
                <dd>
                    <span>{{ facility.lastModifiedDate }}</span>
                </dd>
                <dt><span>Facility Admin</span></dt>
                <dd>
                    {{ facility.facilityAdminLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/facility', facility.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
